@import '../../styles/vars';

.topbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $hTopbar;
  border-bottom: 1px solid $cBlue;
  text-align: center;
  background-color: $cBeigeDark;

  &__title {
    font-size: 32px;
    font-weight: 400;
    color: $cBlack;
  }

  &__subtitle {
    margin-top: $bmu/2;
    font-size: 18px;
    font-weight: 400;
    color: $cBlack;
  }

  &__switcher {
    position: absolute;
    top: 50%;
    right: $bmu;
    transform: translateY(-50%);
  }
}
