// Colors
$cWhite: #fff;
$cBlack: #2C2C2C;//#333;

$cBeigeLight: #FDF9EE; //#FEFBE7;
$cBeigeDark: #F5F0DF; //#F9EBC8;
$cBeigeMediumDark: #eee8d5;
$cBeigeSuperDark: #DED4B2;
$cBlue:#71858A;// #A0BCC2;
$cBlueDark: #71858A;

//#EEE8D5

// Sizes
$bmu: 8px;
$wMax: 1024px;
$hTopbar: 80px;
$wSidebar: 230px;
$wAdaptivePoint: 730px;
