// Colors
$cPurpleDark: purple;
$cPurpleLight: red;
$cWhite: #fff;
$cBlackLight: #333;
$cGray: #999;
$cGold: gold;
$cBlue: blue;
$cRed: red;

$cWhite: #fff;
$cBlack: #333;
$cBeigeDark: #F9EBC8;
$cBeigeLight: #FEFBE7;
$cGreen: #DAE5D0;
$cBlue: #A0BCC2;


// Sizes
$bmu: 8px;
$wMax: 1024px;
$hNav: 60px;
