@import '../../styles/vars';

.skills {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $cBeigeLight;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  &__block {
    flex-grow: 1;
    width: 100%;

    &:not(:first-child) {
      margin-left: 2*$bmu;

      @media (max-width: 800px) {
        margin-left: 0;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3*$bmu;
    font-size: 14px;
  }
}
