@import '../../styles/vars';

.works {
  color: $cBlack;
  background-color: $cBeigeLight;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 2*$bmu;

    // &:not(:first-child) {
    //   margin-left: 2*$bmu;

    //   @media (max-width: 800px) {
    //     margin-left: 0;
    //   }
    // }
  }

  &__link {
    overflow: hidden;
    border-radius: 10px;
  }
  
  &__img {
    display: block;
    width: 200px;
    height: 150px;
    background: gray;
    opacity: .3;
    transition: transform 0.3s ease;
    
    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }
  
  &__title {
    padding: $bmu;
  }

  &__text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3*$bmu;
    font-size: 14px;
  }
}
