@import './styles/vars';

.about {
  display: block;
  background: $cPurpleDark;
  background: linear-gradient(to bottom, $cPurpleDark, $cPurpleLight);

  &__container {
    width: 90%;
    max-width: $wMax;
    margin: 0 auto;
    padding: 40px 0;
  }

  &__title {
    text-align: center;
  }

  &__cv {
    margin-top: 30px;
    text-align: center;
  }
}

.nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: $hNav;
  border-bottom: 2px solid $cGray;
  background: $cBlackLight;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: $wMax;
    margin: auto;
  }

  &__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.menu {
  display: flex;
  height: $hNav;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;

  &__item {
    &:not(:first-child) {
      margin-left: 3px;
    }
  }

  &__link {
    display: flex;
    height: $hNav;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: $hNav;
    text-decoration: none;
    text-transform: uppercase;
    color: $cWhite;

    &::before {
      margin: 10px auto 0;
    }

    &:hover,
    &_active {
      color: $cPurpleDark;
      background: $cWhite;
    }
  }
}
