@import '../../styles/vars';

.contacts {
  position: fixed;
  top: 100px; // TODO переделать дизайн
  left: 0;
  width: 200px;
  height: 100vh;
  padding: 2*$bmu;
  border-right: 2px solid $cBlue;
  font-size: 16px;
  font-weight: 400;
  color: $cBlack;
  background-color: $cBeigeDark;

  &__list {
    list-style-type: none;
  }

  &__item:not(:first-child) {
    margin-top: 2*$bmu;
  }
}
