@import '../../styles/vars';

.contacts {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-top: $hTopbar/2;
  font-size: 16px;
  font-weight: 400;
  color: $cBlack;
  
  @media (max-width: $wAdaptivePoint) {
    position: relative;
    height: auto;
    margin-top: 0;
  }
  
  &__container {
    width: $wSidebar;
    padding: 4*$bmu 2*$bmu;
    border-right: 1px solid $cBeigeSuperDark;

    @media (max-width: $wAdaptivePoint) {
      width: 100%;
      border-top: 1px solid $cBeigeSuperDark;
      border-right: none;
    }
  }

  &__title {
    margin-bottom: 2*$bmu;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: $cBlack;
  }

  &__list {
    list-style-type: none;
  }

  &__item:not(:first-child) {
    margin-top: 2*$bmu;
  }
}
